<div class="card d-flex mb-3">
  <%= form_with(model: @task) do |form| %>
    <div class=" p-3">
      <i class="fa-regular fa-circle mt-1 me-4" style="color:#2564cf;"></i>
      <%= form.text_field :body, class:"border-0 w-75", placeholder:"Додайте завдання"%>
    </div>
  <% end %>
</div>
