p {
  margin: 0px;
}

.nav-bar-own-blue {
  background: #2564cf;
}

.task-menu-own-gray {
  background: #faf9f8;
}

.test {
  margin-right: 20rem;
  width: 500px;
}

input:focus {
  border-color: transparent;

  outline: none;

}

.profile-edit-btn {
  color: black;
  font-weight: bold;
  border-left: solid #2564cf 3px;
  background: #eff6fc;
}